html{
    font-family: 'Helvetica';
    margin:0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: flex-end;

    background-color:#16537b;
    padding: 5vh;

   
}
nav > a{
    font-weight: 600;
    color: #eef1f3;
    padding: 0 0 0 2vh;
}

nav > a:hover{

    color: #aacce2;
    cursor: pointer; 
    
}

main{
    padding: 4vh 6vh 3vh 6vh;
}

h1{
    color: #0b334e;
}

h2{
    margin: 0 0 1vh 0;
}

a {
  text-decoration: none;
}


tr:nth-child(even) {
    background-color: #ffffff; 
}

tr:nth-child(odd) {
    background-color: #f2f2f2; 
}

tr:hover {
    background-color: #e8f0fe;
}

/* links inside Action column */

/* td > a{
    display: inline-block;
    background-color: #16537b;
    color: #eef1f3;
    border-radius: 5px;
    padding: 1px;
    font-size: 1.75vh;
    width: 75px;
    text-align: center;
    margin-bottom: 1px;
} */



button{
    background-color: #16537b;
    color: #eef1f3;
    border-radius: 5px;
    border: None;
    padding: 1px;
    font-size: 1.75vh;
    width: 77px;
    text-align: center;
}

button:hover{
     cursor: pointer;
} 

.actions{
    display: flex;
    flex-direction: column;
}

/************************/
/*Edit Link (Pencil Icon)*/
.edit_link{
    color: #233D4D;
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.edit_link:hover{
    color: #00A8E8;
}

.bi-pencil-square{
    stroke: currentColor; 
    stroke-width: 0.5px; 
    stroke-linejoin: round;
    stroke-linecap: round;
}


/************************/
/* Trash Button */
.delete_button{
    background: none;     
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #bcbcbc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.delete_button:hover {
    color: #F50400; 
}

.bi-trash{
    stroke: currentColor; 
    stroke-width: 0.3px; 
    stroke-linejoin: round;
    stroke-linecap: round;
}




/* Main Content for Table Pages:
    - Tables
    - Insert forms
*/

.main-content{
    display: flex;
    align-items: flex-start; 
    gap: 10vh; 
    padding: 3vh;
}

/*********************************/
    /* - Insert forms */
.form_insert_section {
    flex: 0 0 20vh;  
    position: sticky; 
    top: 20px;
}

.form-insert label{
    display: block;
    font-size: 2vh;
    margin-bottom: 0.5vh;
    color: #475569;

}

.form-insert  input, select, textarea {

    margin-bottom: 1.5vh;
    width: 25vh;
    height: 5vh;
    padding: 1vh;
    border: 1px solid #cbd5e1; 
    border-radius: 8px;       
    font-size: 1rem;
    background-color: #f8fafc;
    box-sizing: border-box;
    font-size: 2vh;
}

.form-insert textarea{
    height: 10vh;
}


input:focus, select:focus {
    outline: none;
    border-color: #1f4e79;
    box-shadow: 0 0 0 2px rgba(31, 78, 121, 0.1); 
    background-color: #ffffff;
}

.form-insert button{
    width: 25vh;
    height: 5vh;
    padding: 1vh;
    border-radius: 8px; 
    background-color: #1f4e79;
    color: white;
}

.form-insert button:hover{
    background-color: #112b43;
    font-weight: 600;
}


/*********************************/
    /* -Tables */
.table_section {
    flex: 1;                
    overflow: auto;
    max-height: 100vh;
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0;

}

thead th {
    position: sticky;
    top: 0;
    background-color: #1f4e79; 
    color: white; 
    padding: 1vh;
    z-index: 10;
    text-align: left;
    white-space: nowrap;
    box-shadow: inset 0 -2px 0 #ccc;
}
