<!DOCTYPE html>
<html>
    <head>
        <title>Companies</title>
    </head>

    <body>
        <h1>Companies</h1>

        <table>
            <tr>
                <th>Company</th>
                <th>Industry</th>
                <th>Website</th>
                <th>City</th>
                <th>State</th>
                <th>Notes</th>

                <th>Delete</th>
            </tr>
  
           {% for company in companies %}
            <tr>
                <td>{{company['company_name']}}</td>
                <td>{{company['industry']}}</td>
                <td>{{company['website']}}</td>
                <td>{{company['city']}}</td>
                <td>{{company['state']}}</td>
                <td>{{company['notes']}}</td>

                <td><form action="/companies/delete" method = "POST">
                    <input type="hidden" name="company_id" value = "{{company['company_id']}}">
                    <button type ="submit" onclick="return confirm('Are you sure?')"> Delete</button>
                    </form>
                </td>

            </tr>
            {%endfor%}
            
        </table>
<!--
        <h2>Delete Company</h2>
        <form action="/companies/delete" method = "POST">

            <input type="text" name="Company" placeholder = "Company A">
            <button type ="submit"> Delete</button>
        </form>
    -->
      
        <h2>Update Company</h2>
        <form action="/companies/update" method = "POST">
            <label for="companies">Select company: </label>
            <select id="companies" name="companyName">
                {% for company in companies %}
                <option value = "{{company['company_name']}}" >{{company['company_name']}}</option>
                {%endfor%}
            </select>

            <input type="text" name = "CompanyNotes" placeholder="Notes...">
            <button type ="submit">Update</button>
        </form>

        <h2>Insert Company</h2>
        <form action ="/companies/insert" method = "POST">
            <input type="text" name="company_name" placeholder = "Company A">
            <input type="text" name = "industry", placeholder="Software">
            <input type="text" name="website" placeholder="www.website.com">
            <input type="text" name="city" placeholder="Miami">
            <input type="text" name="state" placeholder="Florida">
            <input type="text" name="notes" placeholder="Notes..." >

            <button type="submit">Insert</button>
        </form>

    </body>
</html>