<!DOCTYPE html>
<html>
<head>
    <title>Contacts</title>
</head>

<body>
    <h1>Contacts</h1>

    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Job Title</th>
                <th>Linkedin</th>
                <th>Notes</th>
                <th>Actions</th>

            </tr>
        </thead>

        <tbody>
             {% for contact in contacts %}
            <tr>
                 {% if edit_id == contact['contact_id'] %}


                 {% else %}
                    <td>{{contact['company_name'] or ''}}</td>
                    <td>{{contact['first_name'] or ''}}</td>
                    <td>{{contact['last_name'] or ''}}</td>
                    <td>{{contact['email'] or ''}}</td>
                    <td>{{contact['phone'] or ''}}</td>
                    <td>{{contact['job_title'] or ''}}</td>
                    <td>{{contact['linkedin_url'] or ''}}</td>
                    <td>{{contact['notes'] or ''}}</td>
 
                     <td>
                        <a href="/contacts?edit={{ contact['contact_id'] }}">Edit</a>
                        
                        <form action="/contacts/delete" method="POST">
                            <input type="hidden" name="contact_id" value="{{contact['contact_id']}}">
                            <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>


                    </td>


                 {% endif %}
            </tr>

            {% endfor %}
        </tbody>

    </table>



        <h2>Insert Contact</h2>
        <form action ="/contacts/insert" method = "POST">

           
            <select name="company_id" id="company" required>

                {% for company in companies %}
                <option value="{{company['company_id']}}">{{company['company_name']}}</option>
                
                {% endfor %}

            </select>
            

            <input type="text" name = "first_name" placeholder="Jane">
            <input type="text" name="last_name" placeholder="Doe">
            <input type="text" name="email" placeholder="jane.doe@email.com">
            <input type="text" name="phone" placeholder="123-456-7890">
            <input type="text" name="job_title" placeholder="Manager" >
            <input type="text" name="linkedin_url" placeholder="www.linkedin.com" >
            <input type="text" name="notes" placeholder="Notes..." >

            <button type="submit">Insert</button>
        </form>

</body>



</html>