<!DOCTYPE html>

<html>
    <head>
        <title>Job_Match</title>
    </head>

    <body>
        <h1>Job Match</h1>

        {% for job in jobs %}
        <div class="job-result">
            <h3>{{ job.title }} <span class="badge">{{ job.match_percent }}% Match</span></h3>
            
            <div class="skills-info">
                {% if job.match_percent == 100 %}
                    <p class="success">Perfect match!</p>
                {% else %}
                    <p class="warning">
                        <strong>Missing from description:</strong> 
                        {{ job.missing|join(', ') }}
                    </p>
                {% endif %}
            </div>
            
        </div>
    {% endfor %}
    </body>
    
</html>

