<!DOCTYPE html>
<html>
    <head>
        <title>Jobs</title>
    </head>

    <body>
        <h1>Jobs</h1>

        <table>
            <thead>
            <tr>
                <th>Company</th>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>Salary min</th>
                <th>Salary Max</th>
                <th>Job Type</th>
                <th>Posting url</th>
                <th>Date Posted</th>
                <th>Is Active</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
             {% for job in jobs %}
            <tr>
                 {% if edit_id == job['job_id'] %}


                 {% else %}


                 <td>{{job['company_name'] or ''}}</td>
                    <td>{{job['job_title'] or ''}}</td>
                    <td>{{job['job_description'] or ''}}</td>
                    <td>{{job['salary_min'] or ''}}</td>
                    <td>{{job['salary_max'] or ''}}</td>
                    <td>{{job['job_type'] or ''}}</td>
                    <td>{{job['posting_url'] or ''}}</td>
                    <td>{{job['date_posted'] or ''}}</td>
                    <td>{{job['is_active'] or ''}}</td>
 
                     <td>
                        <a href="/jobs?edit={{ job['job_id'] }}">Edit</a>
                        
                        <form action="/jobs/delete" method="POST">
                            <input type="hidden" name="job_id" value="{{job['job_id']}}">
                            <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>


                    </td>


                 {% endif %}
            </tr>

            {% endfor %}

        </tbody>

        </table>


        <h2>Insert Job</h2>
         <form action ="/jobs/insert" method = "POST">

           
            <select name="company_id" id="company" required>

                {% for company in companies %}
                <option value="{{company['company_id']}}">{{company['company_name']}}</option>
                
                {% endfor %}

            </select>
            

            <input type="text" name = "job_title" placeholder="Software Developer">
            <input type="text" name="job_description" placeholder="Requires Java experience">
            <input type="text" name="salary_min" placeholder="50000">
            <input type="text" name="salary_max" placeholder="80000">
            <input type="text" name="job_type" placeholder="Manager" >
            <input type="text" name="posting_url" placeholder="www.company.com" >
            <input type="date" name="date_posted" >
            <input type="text" name="is_active">

            <button type="submit">Insert</button>
        </form>       


    </body>
</html>